{% extends 'base.html.twig' %}

{% block title %}{{ 'Création de compte' }}{% endblock %}

{% block body %}
    <div class="container h-100">
    <div class="row align-items-center justify-content-center h-screen">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ 'Création de compte' }}</div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {% if(form_errors(form.name)) %}
                            <div class="alert alert-danger" role="alert">{{ form_errors(form.name) }}</div>
                        {% endif %}
                        {% if(form_errors(form.email)) %}
                            <div class="alert alert-danger" role="alert">{{ form_errors(form.email) }}</div>
                        {% endif %}
                        {% if(form_errors(form.password.first)) %}
                            <div class="alert alert-danger" role="alert">{{ form_errors(form.password.first) }}</div>
                        {% endif %}
                        {% if(form_errors(form.password.second)) %}
                            <div class="alert alert-danger" role="alert">{{ form_errors(form.password.second) }}</div>
                        {% endif %}
                        <div class="row mb-3">
                            {{ form_label(form.name, null, {"label_attr": {"class": "col-md-4 col-form-label text-md-end" }}) }}
                            <div class="col-md-6">
                                {{ form_widget(form.name, {"attr": {"class": "form-control" } }) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_label(form.email, null, {"label_attr": {"class": "col-md-4 col-form-label text-md-end" }}) }}
                            <div class="col-md-6">
                                {{ form_widget(form.email, {"attr": {"class": "form-control" } }) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                                {{ form_label(form.password.first, null, {"label_attr": {"class": "col-md-4 col-form-label text-md-end" }}) }}
                            <div class="col-md-6">
                                {{ form_widget(form.password.first, {"attr": {"class": "form-control" } }) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                                {{ form_label(form.password.second, null, {"label_attr": {"class": "col-md-4 col-form-label text-md-end" }}) }}
                            <div class="col-md-6">
                                {{ form_widget(form.password.second, {"attr": {"class": "form-control" } }) }}
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">{{ 'Valider' }}</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
