{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container d-flex flex-column align-items-center justify-content-center py-5">
        <div class="w-100 mb-4">
            {{ form_start(form) }}
                {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert"> {{ message }}</div>
                    {% endfor %}
                {% endfor %}
                <div class="row m-0">
                    <div class="col-md-6 d-flex border shadow-none p-0">
                        {{ form_widget(form.body, {"attr": {"class": "form-control border-0 shadow-none w-100" } }) }}
                        <div class="">
                            <button type="submit" class="btn border-0 shadow-none"><i class="fas fa-check text-success"></i></button>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        <div id="presidents"><div class="d-flex align-content-center justify-content-center">{{ 'Chargement' }}...</div></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}" defer></script>
    <script defer>
        window.addEventListener("DOMContentLoaded", function () {
            $('#presidents').initDataTables({{ datatable_settings(table) }});
        });
    </script>
{% endblock %}